<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO SESION RESIDENTES</title>
</head>
<body>
    <div>
        <div>
        	<h1>INICIO SESION</h1>
            <form th:action="@{/indexResidentes}" method="post">
                <input type="text" placeholder="cedula" />
                <input type="text" placeholder="clave" />
                <button type="submit">ingresar</button>
            </form>
        </div>
    </div>
</body>
</html>