<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LISTAR SALON COMUNAL</title>
</head>

<body>
	<div>
		<div>
			<div>
				<form th:action="@{/indexResidentes}" method="post">
					<button type="submit">volver</button>
				</form>
			</div>
			<div>
				<a th:href="@{/SaveSalonComunal}">INGRESE RESERVACION</a>
			</div>
			<div>
				<table>
					<thead>
						<td>id</td>
						<td>reservacion</td>
						<td>fecha</td>
						<td>hora</td>
						<td>residente</td>
						<td>acciones</td>
					</thead>
					<tbody>
						<tr th:each="saloncomunal: ${saloncomunal}">
							<td th:text="${saloncomunal.id}"></td>
							<td th:text="${saloncomunal.reservacion}"></td>
							<td th:text="${saloncomunal.fechaReservacion}"></td>
							<td th:text="${saloncomunal.horaReservacion}"></td>
							<td th:text="${saloncomunal.idResidente}"></td>
							<td><a th:href="@{/SaveSalonComunal/} + ${saloncomunal.id}" th:text="'editar'"></a></td>
					<td><a  th:href="@{/eliminarSalonComunal/} + ${saloncomunal.id}" th:text="'eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>