<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTAR SALON COMUNAL</title>
</head>

<body>
    <div>
        <div>
            <div>
                <a href="">INGRESE NOTICIAS</a>
            </div>
            <div>
                <table>
                    <thead>
                        <td>
                            id
                        </td>
                        <td>
                            reservacion
                        </td>
                        <td>
                            fecha
                        </td>
                        <td>
                            hora
                        </td>
                        <td>
                            residente
                        </td>
                        <td>
                            acciones
                        </td>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

</html>