<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTAR EVENTOS</title>
</head>

<body>
    <div>
        <div>
            <div>
                <a href="">INGRESE EVENTOS</a>
            </div>
            <div>
                <table>
                    <thead>
                        <td>
                            id
                        </td>
                        <td>
                            evento
                        </td>
                        <td>
                            fecha
                        </td>
                        <td>
                            duraccion
                        </td>
                        <td>
                            valor
                        </td>
                        <td>
                            acciones
                        </td>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

</html>