<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA ADMINISTRADORES</title>
</head>

<body>
    <div>
        <div>
        	<div>
        		<form th:action="@{/indexadmin}" method="post">
        			<button type="submit">volver</button>
        		</form>
        	</div>
            <div>
                <a th:href="@{/SaveAdministrador}">INGRESE ADMINISTRADOR</a>
            </div>
            <div>
                <table>
                    <thead>
                        <td>
                            nombre
                        </td>
                        <td>
                            cedula
                        </td>
                        <td>
                            clave
                        </td>
                       <td  colspan="2" >acciones</td>
                    </thead>
                    <tbody>
						<tr th:each="administrador: ${administrador}">
							<td th:text="${administrador.cedula}"></td>
							<td th:text="${administrador.nombre}"></td>
							<td th:text="${administrador.clave}"></td>
							<td><a th:href="@{/SaveAdministrador/} + ${administrador.cedula}" th:text="'editar'"></a></td>
					<td><a  th:href="@{/eliminarAdministrador/} + ${administrador.cedula}" th:text="'eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>