<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO EVENTOS</title>
</head>
<body>
    <div>
        <div>
            <h1>FORMULARIO</h1>
            <div>
                <form th:action="@{/SaveEventos}" method="post" th:object="${eventos}">
                    <input type="text" placeholder="nombre" th:field="*{nombreEvento}">
                    <input type="date" placeholder="fecha" th:field="*{fechaEvento}">
                    <input type="text" placeholder="duracion" th:field="*{duracion}">
                    <input type="text" placeholder="valor" th:field="*{valor}">
                    <button type="submit">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>