<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO RESIDENTES</title>
</head>
<body>
    <div>
        <div>
            <h1>FORMULARIO</h1>
            <div>
                <form th:action="@{/SaveResidentes}" method="post" th:object="${residentes}">
                    <input type="text" placeholder="nombre" th:field="*{nombre}">
                    <input type="text" placeholder="cedula" th:field="*{cedula}">
                    <input type="text" placeholder="correo" th:field="*{correo}">
                    <input type="text" placeholder="clave" th:field="*{clave}">
                    <button type="submit">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>